@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

    /* font-family: 'Manrope', sans-serif; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    body{
    font-family: 'Manrope', sans-serif; 
    background-color: hsl(210, 46%, 95%);
    padding: 100px 30px;
    Font-size: 13px;
}

.container{
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
}
.container .description{
    padding: 30px;
    color: hsl(214, 17%, 51%)
}

.container .description h2{
    font-size: 20px;
    line-height: 1.4;
    padding-bottom: 20px;
    color: hsl(214, 17%, 51%);
}
.container .avatar .open-share{
    /* display: none; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background-color: hsl(217, 19%, 35%);
    position: absolute;
    width: calc(100% + 60px);
    height: 0;
    overflow: hidden;
    bottom: -30px;
    left: -30px;
    border-radius: 0 0 20px 20px;
    transition: all .4s ease-in-out;
}
#share, #remove{
    cursor: pointer;
}
#share{
    
    width: 20px;
    height: 15px;

}
#remove{
    background-color: hsl(210, 46%, 95%);
    padding: 7px 7px;
    border-radius: 50%;
}

.container .avatar .open-share.clicked{
    height: 90px;
    overflow: auto;
}

.container .avatar .open-share div{
    padding: 5px 30px;
}

.container .avatar .open-share div:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color:hsl(212, 23%, 69%) ;
}
.container .avatar .open-share div:first-child p{
    letter-spacing: 2px;
    letter-spacing: 5px;
    padding-right: 8px;
}
.container .avatar .open-share div:first-child ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .avatar .open-share div:first-child ul li{
    margin: 0 10px;
}

ul{
    list-style-type: none;
}

img{
    max-width: 100%;
}
.container .main-img img{
    height: 250px;
    width: 100%;
}
.container .avatar{
    position: relative;
}

.container .avatar .avatar-img{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.container .avatar .avatar-txt{
    display: flex;
    align-items: center;
    
}

.container .avatar .avatar-img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

@media only screen and (min-width:768px) {
    
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container .main-img img {
        height: 293px;
        width: 858px;
    }
    .container .avatar .open-share{
        left: 65%;
    bottom: 55px;
    width: 330px;
    border-radius: 20px;
    }
    .container .avatar{
        position: static;
    }
    .container .avatar .open-share.clicked {
        height: 60px;
    }

    .container .avatar .open-share div:first-child p  {
        letter-spacing: 4px;
        padding-right: 0; 
    }
    
}
@media only screen and (min-width:460px){
    .container .main-img img {
        height: 325px;
        width: 858px;
    }
}

@media only screen and (min-width:992px) {
    body{
        display: flex;
        align-items: center;
        flex-direction: column;
        min-height: 100vh;
    }
    .container .main-img img {
        height: 315px;
        width: 1000px;
    }
    .container{
        max-width: 800px;
        margin: auto;
        height: 313px;
    }
    
}